$colors:
  "blue"  #3C9ADA,
  "green" #2BA95F,
  "grass" #4CC6AD,
  "gray"  #464646;
@each $c in $colors{
  .#{nth($c, 1)}{
    background: nth($c, 2);
  }
}

*{
  box-sizing: border-box;
}

// atomic CSS -----------------------
.flex{ display: flex; }

.flex-column{
  flex-direction: column;
  &.flex-reverse{
    flex-flow: column-reverse;
  }
}

.flex-row{
  flex-direction: row;
  &.flex-reverse{
    flex-flow: row-reverse;
  }
}

.flex-row{ flex-direction: row; }

.flex-center{ justify-content: center; }

.flex-middle{ align-items: center; }

.flex-stretch{ align-items: stretch; }

.flex-wrap{ flex-wrap: wrap; }

$flex_value:
  "1" 1,
  "2" 2,
  "3" 2,
  "4" 4,
  "5" 5;
@each $i in $flex_value{
  .flex-#{nth($i, 1)}{
    flex: nth($i, 2) 0 25%;
  }
}

.flex-justify-end{ justify-content: flex-end; }

.pointer{ cursor: pointer; }
// -----------------------

//custom CSS -----------------------

$stageBoxSize: 100px;
$stageBoxMargin: 2px;
$iconScale: 0.25;

$decorBoxScale_1: 0.4;
$decorBoxScale_2: 0.65;
$decorBoxScale_3: 0.8;
$decorBoxScale_4: 5;

$loopDuration: 120s;

html{
  height: 100%;
  width: 100%;
}

body{
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  color: white;
  font-family: 'Lato', sans-serif;
  background: linear-gradient(-45deg, #1167BD, #55F4C2);
  overflow: hidden;
}

.stage{
  position: absolute;
  top: 50%;
  left: 35%;
  margin-top: -$stageBoxSize + $stageBoxMargin*2;
  margin-left: -($stageBoxSize*2 + $stageBoxMargin)/2;
  width: $stageBoxSize*2 + $stageBoxMargin*4;
  transform: rotate(45deg);
  & .stage-box{
    margin: $stageBoxMargin;
    background: rgba(black, 0.2);
    height: $stageBoxSize;
    width: $stageBoxSize;
    position: relative;
    transition: 1s;
    &.blinking{
      background: rgba(yellow, 0.5);
    }
  }
}

.stage-icon{
  transform: rotate(-45deg);
  width: $stageBoxSize*$iconScale;
  height: $stageBoxSize*$iconScale;
  transition: 1s;
  opacity: 0.5;
  &.blinking{
    opacity: 1;
  }
}

.stageCont{
  // border: solid 2px red;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -250px;
  width: 500px;
  height: 500px;
}

.count{
  position: absolute;
  font-weight: lighter;
  top: 190px;
  left: 300px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.strictMode{
  position: absolute;
  font-weight: lighter;
  top: 220px;
  left: 330px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.value{
  margin-left: 15px;
  font-size: 30px;
}

.button-slant{
  position: absolute;
  // border: solid 2px red;
  background: rgb(104, 179, 206);
  width: 60px;
  height: 30px;
  top: 260px;
  left: 335px;
  .triangle-left{
    position: absolute;
    top: 1.9px;
    left: -17px;
    border-top: solid 21px transparent;
    border-bottom: solid 21px transparent;
    border-left: solid 21px rgb(104, 179, 206);
    transform: rotate(45deg);
  }
  .triangle-right{
    position: absolute;
    top: -13px;
    left: 60px-3px;
    border-top: solid 21px transparent;
    border-bottom: solid 21px transparent;
    border-left: solid 21px rgb(104, 179, 206);
    transform: rotate(225deg);
  }
}

#saveButton{
   top: 300px;
   left: 295px;
}

#loadButton{
   top: 340px;
   left: 255px;
}

@media (max-width: 640px) {
  .stage{
    left: 50%;
    top: 70%
  }
  .count{
    left: 50%;
    top:10%;
    margin-left: -40px;
  }
  .strictMode{
    left: 50%;
    top:18%;
    margin-left: -40px;
  }
  .label{
    // position: absolute;
    margin-left: 0px;
    left: 30%
  }
  #saveButton{
    top: 30%;
    left: 30%;
    margin-left: -60px - 0px;
  }
  #startButton{
    top: 30%;
    left: 60%;
    margin-left: -60px - 20px;
  }
  #loadButton{
    top: 30%;
    left: 90%;
    margin-left: -60px - 40px;
  }
}




// decorations

.rotator{
  // border: solid 2px red;
  height: 500px;
  width: 500px;
  position: relative;
  left: 0;
  animation: spin $loopDuration infinite;
  animation-timing-function: linear;
}
@keyframes spin{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}

.decor{
  transform: rotate(45deg);
  position: absolute;
  animation: spin_reverse $loopDuration infinite;
  animation-timing-function: linear;
  & .decor-box{
    background: rgba(black, 0.05);
  }
}
@keyframes spin_reverse{
  0%{
    transform:rotate(45deg + 0deg);
  }
  100%{
    transform:rotate(45deg + (-360deg));
  }
}

#decor_1{
  top: 0%;
  left: 50%;
  width: ($stageBoxSize*2 + $stageBoxMargin*4) * $decorBoxScale_1;
  & .decor-box{
    margin: $stageBoxMargin * $decorBoxScale_1;
    height: $stageBoxSize * $decorBoxScale_1;
    width: $stageBoxSize * $decorBoxScale_1;
  }
}
#decor_2{
  top: 50%;
  left: 10%;
  width: ($stageBoxSize*2 + $stageBoxMargin*4) * $decorBoxScale_2;
  & .decor-box{
    margin: $stageBoxMargin * $decorBoxScale_2;
    height: $stageBoxSize * $decorBoxScale_2;
    width: $stageBoxSize * $decorBoxScale_2;
  }
}
#decor_3{
top: 60%;
left: 70%;
  width: ($stageBoxSize*2 + $stageBoxMargin*4) * $decorBoxScale_3;
  & .decor-box{
    margin: $stageBoxMargin * $decorBoxScale_3;
    height: $stageBoxSize * $decorBoxScale_3;
    width: $stageBoxSize * $decorBoxScale_3;
  }
}
#decor_4{
top: -95%;
left: -5%;
  width: ($stageBoxSize*2 + $stageBoxMargin*4) * $decorBoxScale_4;
  & .decor-box{
    margin: $stageBoxMargin * $decorBoxScale_4;
    height: $stageBoxSize * $decorBoxScale_4;
    width: $stageBoxSize * $decorBoxScale_4;
  }
}

// -----------------------
